doctype html
head
    meta(charset="UTF-8")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Home Page
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="/css/index.css")
body
    .hero-container
        .content
            h1.hero-row Fandom API
            span.hero-row For information on several fan favorite's
    .container
        .row
            .card.col-sm
                .card-img-top.img-1
                .card-body 
                    h3.card-title #{SWTitle}
                    p.card-text Star wars, created by George Lucas, has been around since 1977 with the release of A New Hope. Now, 5 decades later, Star Wars has aquired by Disney, spanning 3 trilogies and 3 T.V shows 
                    a(href="starwars")
                        button.btn.btn-primary Explore
            .card.col-sm
                .card-img-top.img-2
                .card-body
                    h3.card-title #{PokeTitle}
                    p.card-text Pokemon, an anime that first aired in 1997, follows the main character Ash as he trains to go to pokemon gyms, trying to be the very best! Enter the name of a pokemon below to pull up data on it
                    input(class="pokemonInput" type="text")
                    button.btn.btn-primary.pokeSubmit Submit
            .card.col-sm
                .card-img-top.img-3
                .card-body
                    h3.card-title #{RickTitle}
                    p.card-text Rick and Morty... Enough said...Input a numeric value between 1-493
                    input(class="rickInput" type="text")
                    button.btn.btn-primary.rickSubmit Submit
    script(src="../js/index.js")
