doctype html
head
    meta(charset="UTF-8")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Home Page
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="/css/index.css")
body
    .container
        .row
            .card.col-sm
                .card-img-top.img-1
                .card-body 
                    h3.card-title
                    p.card-text Star wars, created by George Lucas, has been around since 1977 with the release of A New Hope. Now, 5 decades later, Star Wars has aquired by Disney, spanning 3 trilogies and 3 T.V shows 
                    a(href="starwars")
                        button.btn.btn-primary Explore
            .card.col-sm
                .card-img-top.img-2
                .card-body
                    h3.card-title #{name}
                    p.card-text dakfjdak
            .card.col-sm
                .card-img-top.img-3
                .card-body
                    h3.card-title #{name}
