@charset "UTF-8";

.img-1{
    background-image: url('../img/Star_Wars/starwarslogo.jpg');
}
.img-2{
    background-image: url('../img/Pokemon/pokemonlogo.png')
}
.img-3{
    background-image: url("../img/Rick_Morty/Rick_and_Morty.jpeg");
}

.card-body{
    position: relative;
}


